@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.todo-side-bar {
  @apply w-[300px] absolute right-0 h-full py-6 px-4  bg-white;
}
/*number input에 화살표 버튼 제거*/
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
